<section class="top-container">
	<div class="logo-container">
		<!-- <span><a href="/">J</a></span> -->
	</div>
	<article class="case-container">
		<h1 class="case-title">{{ result.case.title }}</h1>
		<p class="card-author case-author">
			von <span><a href="/users/{{result.author.authorId}}">{{ result.author.name }}</a></span>
		</p>
		<p class="card-tags">
			<span>{{# each result.categories}}<a id="first-tag" href="/cases">{{ this }}</a>{{/each}}</span>
			<span><a href="/cases">{{ result.subcategories }}</a></span><span><span><a
						href="/cases">{{ result.problems }}</a></span>
		</p>
			<div class="tooltip-box">
				<div class="tooltip tooltipflex">
					<a href="/cases/{{result.caseId}}/like">
						<i class="material-icons md-24 md-gold">star</i>{{result.meta.likeCount}}<span class="tooltiptext">Like</span>
					</a>
				</div>
				<div class="tooltip tooltipflex">
					<a href="/cases/{{result.caseId}}/report">
						<i class="material-icons md-24 md-gold">more_horiz</i><span class="tooltiptext">Fall Melden</span>
					</a>
				</div>
			</div>
	</article>

</section>
<div class="container-bottom">
	<div class="left-bot-container"></div>
	<section class="middle-container">
		<article class="case-content">
			<h4 class="sub-header">Sachverhalt</h4>
			<p class="case-text">{{{ result.case.issue }}}</p>
			<p class="case-question">{{{ result.case.task}}}</p>
			<button class="showSolutionButton" id="ssb1" onclick="showSolution()">Musterlösung ansehen</button>
		</article>
	</section>
	</div>
	<article id="case-solution">
		<h2 class="sub-header">Musterloesung</h2>
		<p class="case-text"> <span style="white-space: pre-wrap;">{{{ result.case.solution }}}</span></p>
		<h2 class="sub-header">Fussnoten</h2>
		<p class="case-text" id="footnotes">{{ result.case.footnotes }}</p>
	</article>
	<form action="/cases/{{result.caseId}}/done" method="post">
		<div id="solution-box">
			<h5 class="done-header" id="done-header">Fertig bearbeitet?</h5>
			<input class="showSolutionButton" id="ssb2" class="rob-font" type="submit" value="Abschließen">
		</div>
	</form>
	<div class="right-bot-container"></div>

