<section class="profile-top-container">
	<div class="profile-left">
		<h1 class="case-title profile-name">{{ result.authorName }}</h1>
		<p class="intro-text">{{result.user.profileText}}</p>
		<p><span id="upc1" class="upc">Mitglied seit:</span> {{ result.signupDate }}</p>
		<p><span class="upc">Universität:</span> {{result.user.university}}</p>
		<p><span id="upc2" class="upc upc2">Fortschritt:</span> {{result.user.progress}}</p>
	</div>
	<div class="profile-right">
		<div><img src="{{result.picture}}"></div>
		{{#if result.isOwnProfile }}<div><a href="/edit/profile">Profil bearbeiten</a></div> {{/if}}

	</div>
</section>
<section>
	<h3 class="content-header all-cases">Fälle von {{result.authorName}}</h2>
		{{#each result.allCases }}
	<article class="card-wrapper">
		<div class="title-flex">
			<div class="card-title-holder"><a class="card-title"
					href="/cases/{{this.caseId}}/view">{{ this.case.title }}</a></div>
			<!-- <div class=" bookmark"><i class="material-icons md-24 md-gold">turned_in_not</i></div> -->
		</div>
		<p class="card-author">von <span><a href="/users/{{this.author.authorId}}">{{ this.author.name }}</a></span>
		</p>
		<p class="card-tags">
			<span>
				<span id="categorie-link">
					{{#each this.categories}}
					<a href="/cases/{{this}}">{{this}}</a>
					{{/each}}
				</span>
				<span>
					{{#each this.subcategories}}
					<a href="/cases/{{result.categories}}/{{this}}">{{ this }}</a>
					{{/each}}
				</span>
				{{#each this.problems}}<a href="#">{{ this }}</a>{{/each}}
			</span>
		</p>
	</article>
	{{/each}}
</section>