<section class="top-box">
	<h1 class="case-title profile-name">Waehle aus...</h1>
	{{!-- <form action="/cases/{{result.id}}/details" method="post"> --}}

			<div class="upload-subheader-wrapper">
				<label for="issue" class="upload-subheader">Rechtsgebiet</label>
				</div>
				<label class="radio-container">
					<div>STRAFRECHT
						<input type="radio" checked="checked" name="radio">
						<span class="checkmark"></span>
					</div>
				</label>
				<label class="radio-container">
					<div>ÖFFENTLICHES RECHT
						<input type="radio" name="radio">
						<span class="checkmark"></span>
					</div>
				</label>
				<label class="radio-container">
					<div>
						ZIVILRECHT
						<input type="radio" name="radio">
						<span class="checkmark"></span>
					</div>
				</label>
			<div class="upload-subheader-wrapper">
				<label for="issue" class="upload-subheader">Sachverhalt</label>
			</div>
			<textarea id="issue" name="issue" class="slab-font upload-input"
				placeholder="Beschreibe den Sachverhalt...">{{result.oneCase.case.issue}}</textarea>
			<div class="upload-subheader-wrapper">
				<label for="task" class="upload-subheader">Aufgaben</label>
			</div>
			<textarea id="task" name="task" class="slab-font upload-input"
				placeholder="Formuliere die Aufgaben...">{{result.oneCase.case.task}}</textarea>
			<div class="upload-subheader-wrapper">
				<label for="solution" class="upload-subheader">MusterLösung</label>
			</div>
			<textarea id="solution" name="solution" class="slab-font upload-input"
				placeholder="Beschreibe die Lösung...">{{result.oneCase.case.solution}}</textarea>
			
			<div class="upload-subheader-wrapper">
				<label for="footnotes" class="upload-subheader">Fussnoten</label>
			</div>
			<textarea id="footnotes" name="footnotes" class="slab-font upload-input"
				placeholder="Fuege deine Fussnoten hier ein...">{{result.oneCase.footnotes}}</textarea>
			{{!-- <input id="upload-continue" name="upload-continue" class="continue-upload" value="Weiter" type="submit"><br>
																											<input id="upload-save" name="upload-save" class="continue-upload" value="Als Entwurf speichern" type="submit"> --}}
			{{!-- </form> --}}
</section>