<section class="top-box upload-box">
	<h2 class="upload-header">Deine Fälle</h2>
	<a class="rob-font" href="/cases/0/text" type="submit">Fall schreiben</a>
</section>
<section class="bottom-box">
	<div class="tab">
		<button class="tablinks tab-header gold-header active" onclick="uploadTabs(event, 'drafts' )">Entwürfe
			{{result.draftCases.length}}</button>
		<button class="tablinks tab-header gold-header" onclick="uploadTabs(event, 'owns' )">Veröffentlicht
			{{result.publicCases.length}}</button>
	</div>
	<div id="drafts" class="tabcontent">
		{{# each result.draftCases}}
		<article class="card-wrapper">
			<div class="title-flex">
				<div class="card-title-holder"><a class="card-title"
						href="/cases/{{this.caseId}}/view">{{ this.case.title }}</a></div>
				<div class="bookmark">
					<div class="tooltip"><a href="/cases/{{this.caseId}}/text"><i
								class="material-icons md-24 md-gold">edit</i><span
								class="tooltiptext">Bearbeiten</span></a></div>
					<div class="tooltip">
						<form method="post" action="/cases/{{this.caseId}}/publish">
							<button id="publish-world" class="upload-icons" type="submit"><i
									class="material-icons md-24 md-gold">public_on</i></button>
							<span class="tooltiptext" id="align-left">Veröffentlichen</span>
						</form>
					</div>
				</div>
			</div>
			<p class="card-author">von <span><a href="/author/{{this.author.email}}">{{ this.author.name }}</a></span>
			</p>
			<p class="card-tags">
				<span>
					<span id="categorie-link">{{#each this.categories}}<a
							href="/cases/{{this}}">{{this}}</a>{{/each}}</span>
					<span>{{#each this.subcategories}}<a href="#">{{ this }}</a>{{/each}}</span>
					{{#each this.problems}}<a href="#">{{ this }}</a>{{/each}}
				</span>
			</p>
		</article>
		{{/each}}
	</div>
	<div id="owns" class="tabcontent public-hide">
		{{# each result.publicCases}}
		<article class="card-wrapper">
			<div class="title-flex">
				<div class="card-title-holder"><a class="card-title"
						href="/cases/{{this.caseId}}/view">{{ this.case.title }}</a></div>
				<div class=" bookmark">
					<div class="tooltip"><a href="/cases/{{this.caseId}}/text"><i
								class="material-icons md-24 md-gold">edit</i><span
								class="tooltiptext">Bearbeiten</span></a></div>
					<div class="tooltip">
						<form method="post" action="/cases/{{this.caseId}}/unpublish">
							<button id="publish-world" class="upload-icons" type="submit"><i
									class="material-icons md-24 md-gold">public_off</i></button>
							<span class="tooltiptext" id="align-left">Unpublish</span>
						</form>
					</div>
				</div>
			</div>
			<p class="card-author">von <span><a href="/users/{{this.author.authorId}}">{{ this.author.name }}</a></span>
			</p>
			<p class="card-tags">
				<span>
					<span id="categorie-link">{{#each this.categories}}<a
							href="/cases/{{this}}">{{this}}</a>{{/each}}</span>
					<span>{{#each this.subcategories}}<a href="#">{{ this }}</a>{{/each}}</span>
					{{#each this.problems}}<a href="#">{{ this }}</a>{{/each}}
				</span>
			</p>
		</article>
		{{/each}}
	</div>
</section>